
.owl-carousel .owl-stage {
  display: flex;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
#owl-demo .item{
    margin: 3px;
    float: left;
    clear: both;
  }




