.App {
  text-align: center;

  .body {
    // border: 1px solid gray;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .header {
      text-align: center;
      border: 1px solid gray;
      
      .header-wrapper {
        border: 1px solid grey;

        .header-content1 {
          width: 24%;
          float: left;
        }

        .header-content {
          width: 48%;
          float: left;
          border: 1px solid yellow;
          margin: 7px;
          padding: 5px;
        }

        .header-content2 {
          width: 24%;
          float: left;
        }
      }
      /* Style the links inside the navigation bar */
      .topnav a {
        // float: left;
        // color: #f2f2f2;
        // text-align: center;
        // padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      /* Add a color to the active/current link */

      /* Right-aligned section inside the top navigation */
      .topnav-right {
        float: right;
        margin-top: -24px;
        margin-right: 10px;
        a.active {
          background-color: #4caf50;
          color: black;
        }

        .wlcMsg {
          color: black;
          // padding: 14px 16px;
          float: left;
        }
      }
    }

    .left-container {
      border: 1px solid green;
      width: 23%;
      margin: 5px;
      height: 300px;
      float: left;
      padding: 5px;
      clear: both;
    }

    .main-content {
      border: 1px solid burlywood;
      width: 47%;
      margin: 5px;
      height: 300px;
      float: left;
      padding: 5px;

      .carosuel {
        border: 1px solid #09d3ac;
        clear: both;
        padding: 5px;
        margin: 6px;
        height: 280px;
      }
    }

    .right-container {
      border: 1px solid red;
      width: 23%;
      height: 300px;
      float: left;
      margin: 5px;
      padding: 5px;
    }
  }

  .App-footer {
    background-color: #282c34;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: calc(7px + 2vmin);
    margin: 5px;
    width: 100%;
    position: relative;
    clear: both;
  }

 
}

.navbar-brand {
  float: left;
  height: auto;
  padding: 0;

  &:hover {
    border: 0;
  }

  img {
    max-width: 100%;
  }
}

.footer {
  margin: auto;
  border: 1px solid yellow;
  padding: 10px;
  margin-top: 10px;
  position: absolute;
}

.main-container {
  border: 1px solid green;
  margin-bottom: 10px;
}

.main-body {
  border: 1px solid red;
  margin-bottom: 10px;
}
.sidenav {
  margin-top: 10px;
}
.main-container {
  margin: auto;
  border: 1px solid red;
  padding-bottom: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
